<?xml version='1.0' encoding='utf-8'?>
<widget id="vote.directdemocracy.app" version="2.0.26" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>DirectDemocracy</name>
  <description>DirectDemocracy Voting App</description>
  <preference name="orientation" value="portrait" />
  <author email="info@directdemocracy.vote" href="https://directdemocracy.vote">directdemocracy.vote</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/res/drawable/ic_cdv_splashscreen.xml" />
    <icon density="mdpi" src="resources/android/res/mipmap-mdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-mdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-mdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-mdpi/ic_launcher_foreground.png" />
    <icon density="hdpi" src="resources/android/res/mipmap-hdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-hdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-hdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-hdpi/ic_launcher_foreground.png" />
    <icon density="xhdpi" src="resources/android/res/mipmap-xhdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-xhdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-xhdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-xhdpi/ic_launcher_foreground.png" />
    <icon density="xxhdpi" src="resources/android/res/mipmap-xxhdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-xxhdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-xxhdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-xxhdpi/ic_launcher_foreground.png" />
    <icon density="xxxhdpi" src="resources/android/res/mipmap-xxxhdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-xxxhdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-xxxhdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-xxxhdpi/ic_launcher_foreground.png" />
  </platform>
</widget>
