<?xml version='1.0' encoding='utf-8'?>
<widget id="vote.directdemocracy.app" version="2.0.27" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>DirectDemocracy</name>
  <description>DirectDemocracy Voting App</description>
  <preference name="orientation" value="portrait" />
  <author email="info@directdemocracy.vote" href="https://directdemocracy.vote">directdemocracy.vote</author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/res/drawable/ic_cdv_splashscreen.xml" />
    <icon density="mdpi" src="resources/android/res/mipmap-mdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-mdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-mdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-mdpi/ic_launcher_foreground.png" />
    <icon density="hdpi" src="resources/android/res/mipmap-hdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-hdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-hdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-hdpi/ic_launcher_foreground.png" />
    <icon density="xhdpi" src="resources/android/res/mipmap-xhdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-xhdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-xhdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-xhdpi/ic_launcher_foreground.png" />
    <icon density="xxhdpi" src="resources/android/res/mipmap-xxhdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-xxhdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-xxhdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-xxhdpi/ic_launcher_foreground.png" />
    <icon density="xxxhdpi" src="resources/android/res/mipmap-xxxhdpi/ic_launcher.png"
      ic_launcher_monochrome="resources/android/res/mipmap-xxxhdpi/ic_launcher_monochrome.png"
      ic_launcher_background="resources/android/res/mipmap-xxxhdpi/ic_launcher_background.png"
      ic_launcher_foreground="resources/android/res/mipmap-xxxhdpi/ic_launcher_foreground.png" />
  </platform>
  <platform name="ios">
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <splash src="resources/ios/Default@2x~universal~anyany.png" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true"/>
    <icon src="resources/ios/AppIcon~ipad.png" width="76" height="76" />
    <icon src="resources/ios/AppIcon-40@2x.png" width="80" height="80" />
    <icon src="resources/ios/AppIcon-60@2x~car.png" width="120" height="120" />
    <icon src="resources/ios/AppIcon-83.5@2x~ipad.png" width="167" height="167" />
    <icon src="resources/ios/AppIcon-60@3x~car.png" width="180" height="180" />
    <icon src="resources/ios/AppIcon~ios-marketing.png" width="1024" height="1024" />
    <preference name="AllowNewWindows" value="false" />
    <preference name="MediaPlaybackAllowsAirPlay" value="true" />
    <preference name="LimitsNavigationsToAppBoundDomains" value="true" />
    <preference name="AllowBackForwardNavigationGestures" value="false" />
    <preference name="Allow3DTouchLinkPreview" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <edit-config target="*-Info.plist" parent="UIApplicationSceneManifest">
      <dict>
        <key>UISceneConfigurations</key>
        <dict/>
      </dict>
    </edit-config>
    <edit-config target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
      <string>Your location is useful to help you quickly locate your home when registering your citizen card</string>
    </edit-config>
    <edit-config target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
      <string>Your location is useful to help you quickly locate your home when registering your citizen card</string>
    </edit-config>
    <edit-config target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string>Your location is useful to help you quickly locate your home when registering your citizen card</string>
    </edit-config>
    <edit-config target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
      <string>Access to your photo library is needed to select your ID picture when registering your citizen card</string>
    </edit-config>
    <edit-config target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>Access to your camera is needed to capture your ID picture when registering your citizen card</string>
    </edit-config>
  </platform>
</widget>
