.corner-ribbon {
  z-index:500;
  position: fixed;
  top: 25px;
  right: -50px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(45deg);
  background: #e43;
  box-shadow: 1px 2px 3px rgba(0,0,0,.3);
  opacity: 0.85;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
}
